.position {
  margin-top:100px;
}

.signup {
    border: 2px solid red;

  //font-family: 'Custom', Fallback, sans-serif !important;
}

@font-face {
  font-family: Boldfont;
  src: url(../../assets/fonts/SF-Compact-Display-Bold.otf) format("opentype");
}

@font-face {
  font-family: Regular;
  src: url(../../assets/fonts/SF-Compact-Display-Regular.otf) format("opentype");
}
p {
font-family: Regular;
}
