<div class=" container-fluid h-100 position ">
  <div class="row  justify-content-center align-items-center">
    <div class="form-group ">
      <h1 *ngIf="showHead" class="text" style="text-align-last: center;">Real Estate Investing Information That Matters to you</h1>
      <div class="row  justify-content-center align-items-center mt-4 mb-5">
      <small >Limited to the San Francisco Bay Area --- Join our BETA</small>
      </div>
      <div class="row  justify-content-center align-items-center">
        <button type="button" class="signup btn btn-outline-danger" (click)=OnSignup()>SIGN UP WITH LINKEDIN</button>
      </div>
    </div>
  </div>
</div>
